
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1;
}
/* After and below the header */
.myContainer{
    overflow: auto;
    width: 100%; 
    min-width: 320px;
    background-color: rgb(231, 229, 229);
    position: absolute;
    bottom: 0px;
    top: 60px;
}

header {
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    min-width: 320px;
    height: 60px;
}

/* Contains Current weather and 5-day forecast on the right */
main{
    width: 75%;
    float: left;
    color:black;
    overflow: auto;
    background: white;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
}

h1{
    line-height: 60px;
    color: white;
    text-align: center;
}

form{
    width: 25%;
    min-width: 120px;
    padding: 5px;
    float: left;
    overflow: auto;
    border-right: 2px solid rgb(231, 229, 229);
}
label,
h6{
    width: 100%;
    margin: 0px;
    margin-top: 8px;
}

/* Contains search button and input field */
.input-container{
    display:inline-flex;
    width: 100%;
    max-width: 280px;
}

/* Search input field */
input {
    margin: 0px;
    width: 100%;
  }
input:focus
 {
    border: 2px solid #87CEEB;
  }

  /* Search button */
button{
    background: #87CEEB;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    width: 35px;
    height: 28px;
}
button:hover {
    background: rgb(103, 167, 151);
  }

/* Sear history table */
table{
    width: 100%;
    max-width: 280px;
    margin: 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.411);
    border-bottom: 0px
}
tr{
    width: 100%;
    height: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.411);
    text-align: left;
    padding: 2px;
    padding-left: 12px;
    margin: 0px;
}

/* Mouse over on a row of search history  table*/
.history:hover{
    border: 3px solid #87CEEB;
  }

  /* Clear history button */
.clearHistory{
    width: 40px;
    height: 28px;
    color: red;
    line-height: 28px;
    margin-bottom: 2px;
  }

/* City, date and icon main container */
.location{
    width: 100%;
    background-color: rgb(43, 158, 204);
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    color: white;    
}

/* Current date */
.date{
    float: left;
    height: 50px;
    line-height: 50px;
}

/* Current weather data date and icone inline */
.iconeNdate{
    display: inline-block;
}

/* Current weather data container */
.currentWeather{
    min-height: 120px;
    padding: 10px;
}

/* 5-day forecast main container */
.forecast{
    border: 2px solid rgb(231, 229, 229);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    overflow: auto;
}

/* 5-day forecast secondary container */
.fiveDays{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Each of the 5-day forecast container */
.five{
    background-color: #87CEEB;
    border-radius: 10px;
    width: 18%;
    min-width: 130px;
    height: 145px;
    margin: 5px;
    margin-bottom: 10px;
    padding:5px;
}

p{
    margin: 0px;
    line-height: 1.5;
}

/* UV index layout and color code */
.uvIndex p{
    display: inline;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.favorable{
    background-color: green;
}

.moderate{
    background-color: orange;
}
.severe{background-color: red;}

/* Media query */
@media only screen and (max-width: 1000px) {
    .five{
        width: 24%;
    }

}

@media only screen and (max-width: 820px) {
    .five{
        width: 32%;
    }

}


@media only screen and (max-width: 660px) {
    .five{
        width: 32%;
    }

}

@media only screen and (max-width: 480px) {
    .five{
        width: 48%;
    }

    main {
        width: auto;
        position: absolute;
        left: 130px;
    }
    .currentWeather,
    .five{
        width: 100%;
        padding: 4px;
    }
    .currentWeather{
        overflow: auto;

    }
    .forecast h5, .five p, h3{
        text-align: center;
    }
    .five img{
        float: none;
        margin-left: 31%;
    }
}
@media only screen and (max-width: 360px) {
    main{
        left: 120px;
    }
    h1 {
      font-size: 32px;
    }
 
    h3,h2{
        font-size: 22px;
    }
    h5{
        font-size: 18px;
    }

}

