body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 80px;
    padding: 10px;
}

h1{
    line-height: 60px;
    color: white;
    text-align: center;
}

aside{
    position: absolute;
    width: 25%;
    float: left;
    background-color: teal;
    margin-top: 0px;
    top: 80px;
    bottom: 0px;
}